<h1>Add A Game</h1>
<form ng-submit="searchSubmit(searchParam)">
    <!-- <input ng-model="searchParam" type="search" name="s" results=5 placeholder="enter game"> -->
    <div class="box">
          <div class="container-1">
              <span class="icon"><i class="fa fa-search"></i></span>
             <input ng-model="searchParam" type="search" id="search" results=10 placeholder="Search for a game..." /><br>
             <h4 ng-bind="errorMsg" class="errorMsg" Search requires two or more characters.</h4>
          </div>
    </div>
</form>
<table ng-show="showTable">
	<thead>
		<th ng-click="nameClick('toString() || _.text')"> Game </th>
		<th ng-click="yearClick('yearpublished')"> Year Published </th>
		<th class="add-game-icon"> Add To Vault </th>
	</thead>
	<tbody>
		<tr class="selected" ng-repeat="game in displayList | limitTo:50">
			<td> {{ game.name.toString() || game.name._text }} </td>
			<td class="year-published"> {{ game.yearpublished }}</td>
			<td> <i ng-click="addItemToCollection(game.gameId)" class="fa fa-plus"></i> </td>
	</tbody>
</table>
