<h1 ng-bind="primaryName"> Title </h1>

<div class="wrapper">
<nav class="gameInfoSelector">
      <div ng-click="tabClick('description')" class="tab"> <a href='#'> Description </a>
      </div>
      <div ng-click="tabClick('information')" class="tab"> <a href='#'> Information </a> 
      </div>
      <div ng-click="tabClick('media')" class="tab"> <a href='#'> Media </a> 
      </div>
      <div ng-click="tabClick('reviews')" class="tab"> <a href='#'> Reviews </a>
      </div>
</nav>

<div class="gameInfoBox">
	<p ng-bind="gameDesc" ng-show="currentTab === 'description'"> Desc Test </p>
	<p ng-show="currentTab === 'information'"> 
		<p ng-show="currentTab === 'information'"> Minimum number of players: {{ gameMin }} </p> 
		<p ng-show="currentTab === 'information'"> Maximum number of players: {{ gameMax }} </p>
		<p ng-show="currentTab === 'information'"> How long it takes to play: {{ gamePlay }} minutes </p>
		<p ng-show="currentTab === 'information'"> Year Published: {{ gameYear }} </p> </p>
	<p ng-show="currentTab === 'media'"> Media Test </p>
	<p ng-show="currentTab === 'reviews'"> Review Test </p>
</div>
</div>
