<h1 ng-bind="primaryName"> Title </h1>

<div class="wrapper">
<nav class="gameInfoSelector">
      <div ng-click="tabClick('description')" class="tab">Description
      </div>
      <div ng-click="tabClick('information')" class="tab">Information
      </div>
      <div ng-click="tabClick('media')" class="tab">Media
      </div>
      <div ng-click="tabClick('reviews')" class="tab">Reviews
      </div>
</nav>

<div class="gameInfoBox">
	<p ng-bind="gameDesc" ng-show="currentTab === 'description'"> Desc Test </p>
	<p ng-show="currentTab === 'information'"> 
		<p> Minimum number of players: {{ gameMin }} </p> 
		<p> Maximum number of players: {{ gameMax }} </p>
		<p> How long it takes to play: {{ gamePlay }} minutes </p>
		<p> Year Published: {{ gameYear }} </p> </p>
	<p ng-show="currentTab === 'media'"> Media Test </p>
	<p ng-show="currentTab === 'reviews'"> Review Test </p>
</div>
</div>
