<form ng-submit="searchSubmit(searchParam)">
    <input ng-model="searchParam" type="text" placeholder="enter text here">
    <button>Submit</button>
</form>

<table>
	<thead>
		<th> Game Name </th>
		<th> Year Published </th>
	</thead>
	<tbody>
		<tr ng-class="selected" ng-repeat="game in displayList">
			<td> {{ game.name.toString() || game.name._text }} </td>
			<td class="year-published"> {{ game.yearpublished }}	</td>
			<td> <i ng-click="addGameClick()" class="fa fa-plus"></i> </td>
	</tbody>
</table>
