<h1> Quick Play helps you choose a game to play with your friends.</h1>
<h2> Here's how it works: </h2>
<div class="quickplaylist">
<ol>
	<li>Enter how many players you've got.</li>
	<li>Then, enter how much time you have to play, in minutes. </li>
	<li><strong>Quick Play</strong> will look through your <strong>Vault</strong> and choose a game that meets those criteria. If you don't want to play the game shown, click next to see another match.</li>
</ol>
</div>
<div class="textbubbles">
<div class="bubble">How many players do you have?<br>
		<input type="number" ng-model="numOfPlayers">   players
</div>
<div class="bubble2">How much time do you have to play?<br>
	<input type="number" ng-model="timeAvailable">   minutes
</div>
<input type="submit" value="Tell me what to play!" class="letsgobutton" ng-click="quickPlay(numOfPlayers, timeAvailable)"/>
</div>
<div ng-repeat="game in quickPlayGameList">
	<p> <img src= "{{ game.image }}"> </p>
</div>
