<h2> Quick Play helps you choose a game to play with your friends. Here's how it works: </h2>
<ol>
	<li> First, enter how many players you've got. </li>
	<li> Next, enter how much time you have to play, in minutes. </li>
	<li> Quick Play will look through your Vault and choose a game that meets those criterea. </li>
	<li> If you don't want to play the game shown, click next to see another match. </li>
</ol>
<div> 
	<input type="number" ng-model="numOfPlayers" placeholder="How many players do you have?">
</div>
<div>
	<input type="number" ng-model="timeAvailable" placeholder="How much time do you have to play?">
</div>
<button ng-click="quickPlay(numOfPlayers, timeAvailable)"> I Get It, Let's Go! </button>
<div ng-repeat="game in quickPlayGameList">
	<p> {{ game.board_name }} </p>
</div>