<nav class="mainnav">
    <a href="#home">Vault</a> |
    <a href="#quickPlay">Quick Play</a> |
    <a href="#gamerBuddies">Buddies</a>
    <a class="signout" href="#">Sign Out</a>
</nav>


<h1>Board Games </h1>


<body ng-app="app" ng-controller="homeCtrl">


   <div ui-view></div>



</body>
