<nav class="mainnav">
    <a href="#home">Home</a> |
    <a href="#profile">Vault</a> |
    <a href="#quickPlay">Quick Play</a> |
    <a href="#gamerBuddies">Buddies</a> 
</nav>

<h1>Board Games </h1>


<body ng-app="app" ng-controller="homeCtrl">


   <div ui-view></div>



</body>
