<nav class="mainnav" class="col8">
    <a href="#home">Vault</a> |
    <a href="#addGame">Add Game</a> |
    <a href="#quickPlay">Quick Play</a> |
    <a href="#gamerBuddies">Buddies</a> |
    <%= link_to 'Sign-Out', destroy_user_session_path, method: :delete, class: 'signout' %>
		<%= javascript_tag "var userId = #{current_user.id};" %>
</nav>




<body ng-app="app" ng-controller="homeCtrl">


   <div ui-view></div>



</body>
<!-- <div class="footer">
    <a href="https://github.com/Jmingus/game_tracker" class="copyright"> © 2015 TravCorp International. </a>
</div> -->
