.ribbon {
 font-size: 16px !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

 width: 60%;

 position: relative;
 background: #CF6B57;
 color: #fff;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
 margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #CF6B57;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #bf4d36 transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}

// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
    background-color: #DDE8E0;
    font-family: Raleway;
}
.mainnav {
    text-align:center;
    a{
        color: #f0f0f0;
        text-decoration: none;
        font-size:1.2em;
        padding-left: 1em;
        padding-right: 1em;
    }
    a:hover {
        color:black;
    }
}
.footer {
    position: absolute;
    bottom: 0px;
    }
.copyright {
    text-decoration: none;
    margin-left: 37em;
}
/* ADDGAME.HTML STYLING*/
h4 {
    display:inline-block;
}
h1 {
    text-align: center;
    color: #7B717E;
    font-size:2.4em;
    margin: .5em auto;
}
h2 {
    text-align: center;
    color: #7B717E;
    font-size:2.2em;
    margin: 0 auto;
}
form {
    text-align: center;
}
.container-1 input#search{
  width: 250px;
  height: 40px;
  background: white;
  border: 1px solid #423446 ;
  font-size: 12pt;
  color: #423446;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 1em;
 }

table {
    margin: 0 auto;
    width: 75%;
}
thead {
    color:#CF6B57;
    width: 50%;
    font-size: 1.4em;
}
tbody {
    color:#423446;
    width: 50%;
    text-align:left;
    td:nth-child(3) {
        text-align:center;
    }
}
tr {
    font-size:1.4em;
}
td {
    padding:0.4em 0;
}
.selected:nth-child(odd) {
    background-color: rgba(207, 107, 87, 0.3);
}
.selected:hover {
    background-color:#CF6B57;
    color:white;
}
.year-published {
    text-align:center;
}
.add-game-icon {
    text-align:center;
}
i:hover {
    color:red;
}


/* BOARDGAME.HTML STLYING! */
.wrapper {
    font-size: 0px;
    text-align: center;
    }
.gameInfoSelector {
    font-size: 16px;
    vertical-align: top;
    margin: 0 auto;
    display: inline-block;
    border-top-left-radius:5px;
    border-top: 2px solid #423446;
    a{
        text-decoration:none;
        color: #423446;
    }
}
.tab {
    cursor: pointer;
    height: 8%;
    text-align:center;
    border: 2px solid #423446;
    border-top: none;
    border-right: none;
    border-top-left-radius:5px;
    border-bottom-left-radius: 5px;
    padding: .5em 0;
    background-color: #E2A69A;
    margin: 0 auto;
    padding: .5em 1em;
    }
.gameInfoBox {
    width: 50%;
    height: 30em;
    border: 2px solid #423446;
    border-radius: 5px;
    border-top-left-radius: 0px;
    margin: 0 auto;
    overflow: hidden;
    display: inline-block;
    font-size: 16px;
    text-align:center;
    padding: 1em;
    line-height: 1.4;
    a {
        text-decoration: none;
        color: black;
        font-size:2em;
    }

    a:hover {
        color:red;
    }
}



/* BUDDIES.HTML STYLING */
.funny {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.deviseinfo{
    text-align:center;
}


/* QUICKPLAY.HTML STYLING
 */
 .textbubbles {
     margin: 2em auto;
     text-align:center;
 }
 .bubble {
 position: relative;
 width: 40%;
 height: 3em;
 padding: 16px 16px;;
 background: #A9D8C8;
 -webkit-border-radius: 13px;
 -moz-border-radius: 13px;
 border-radius: 13px;
border: #7B717E solid 3px;
margin: 2em auto;
 text-align: center;
 input{
     background-color: white;
     font-size: 12pt;
     color: #423446;
     width: 3em;
     border-radius: 13px;
     padding-left:.3em;
     margin-top: .3em;

 }
 }

 .bubble:after {
 content: '';
 position: absolute;
 border-style: solid;
border-width: 1px 1px 0;
border-color: #7B717E transparent;
 display: block;
 width: 0;
 z-index: 1;
 margin-left: -15px;
 bottom: -15px;
 left: 15%;
 }

 .bubble:before {
 content: '';
 position: absolute;
 border-style: solid;
 border-width: 17px 17px 0;
 border-color: #7B717E transparent;
 display: block;
 width: 0;
 z-index: 0;
 margin-left: -17px;
 bottom: -20px;
 left: 15%;
 }

 .bubble2 {
position: relative;
width: 40%;
height: 3em;
padding: 16px 16px;;
background: #A9D8C8;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
border-radius: 13px;
border: #7B717E solid 3px;
margin: 2em auto;
text-align: center;
input{
    background-color: white;
    font-size: 12pt;
    color: #423446;
    width: 3em;
    border-radius: 13px;
    padding-left:.3em;
    margin-top: .3em;
}
}

.bubble2:after {
content: '';
position: absolute;
border-style: solid;
border-width: 0 1px 1px;
border-color: #7B717E transparent;
display: block;
width: 0;
z-index: 1;
margin-left: -15px;
top: -15px;
left: 85%;
}

.bubble2:before {
content: '';
position: absolute;
border-style: solid;
border-width: 0 17px 17px;
border-color: #7B717E transparent;
display: block;
width: 0;
z-index: 0;
margin-left: -17px;
top: -20px;
left: 85%;
}
.letsgobutton {
    padding:5px 15px;
    background:#A9D8C8;
    border: 1px solid #7B717E;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 1em;
    font-weight:800;
    color: #423446;
    padding: 1em 1em;
    margin-bottom: 1em;
}

 .quickplaylist {
     margin: 0 auto;
     max-width: 40%;
     padding: 1em 0em .5em 0em;
     color: #7B717E;
     ol{
    text-align: left;
    list-style-type: none;
    line-height: 1.4;

}
}
.quickplaygames {
    margin: 0 auto;
    text-align: center;
    div {
        display: inline-block;
        text-align: center;
        a{
            text-decoration:none;
        }
    }
}

/* HOME.HTML STYLING!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.thumbnails {
    margin: 0 auto;
    text-align:center;
    box-sizing:border-box;

    a {
        text-decoration: none;
    }
}

.logintitle {
    text-align:center;
    margin: 0 auto;
    color: #CF6B57;
    font-size: 4em;
    background-color: #E7C865;
    border-radius: 5px;
    padding: .2em .2em;
    margin-bottom: 1em;
    font-family: Metamorphous;
}

.vault-trash {
    position: fixed;
    bottom:10px;
    right:20px;
}

.vault-trash:hover {
    color:red;
    font-size:3.5em;
}
