// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
    background-color: #DDE8E0;
    font-family: Raleway;
}
.mainnav {
    text-align:center;
    a{
        color: #423446;
        text-decoration: none;
    }
}

/* ADDGAME.HTML STYLING*/
h4 {
    display:inline-block;
}
h1 {
    text-align: center;
    color: #CF6B57;
}
form {
    text-align: center;
}
/* input[type=search] {
color: #423446;
cursor: pointer;
width: 20%;
letter-spacing: 4px;
word-spacing: 20px;
font-size:20px;
} */
.container-1 input#search{
  width: 250px;
  height: 40px;
  background: #DDE8E0;
  border: 1px solid #423446 ;
  font-size: 12pt;
  color: #423446;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
table {
    margin: 15px auto;
    width: 50%;
}
thead {
    color:#CF6B57;
    width: 50%;
}
tbody {
    color:#423446;
    width: 50%;
    text-align:left;
    td:nth-child(3) {
        text-align:center;
    }
}
.year-published {
    text-align:center;
}
.add-game-icon {
    text-align:center;
}


/* BOARDGAME.HTML STLYING! */
.gameInfoBox {
    width: 700px;
    height:500px;
    border: 2px solid #423446;
    margin: 0 auto;
}
